<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Project 2 - Group 3</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/small-business.css') }}" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Project 2 - Group 3</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="vis1.html">Pay to Win?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="vis2.html">Putting Butts in Seats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="vis3.html">Mr. Popular?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="vis4.html">Youth vs Experience</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="ppt.html">Slides</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
        <div class="row align-items-center my-5">
            <div class="col-lg-7">
                <center><iframe
                        src="https://docs.google.com/presentation/d/e/2PACX-1vT05evM6r01q9l4Ez1u33mbzf9TajRqDWNDDmraai2FlwXg-GsLW4GyOt3R2G7LrVz4fLhgrGjxPFAY/embed?start=false&loop=false&delayms=60000"
                        frameborder="0" width="1108" height="569" allowfullscreen="true" mozallowfullscreen="true"
                        webkitallowfullscreen="true"></iframe></center>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <!-- Call to Action Well -->
        <div class="card text-white bg-secondary my-5 py-4 text-center">
            <div class="card-body">
                <p class="text-white m-0">“Remember that basketball is a game of habits. If you make the other guy
                    deviate from his habits, you’ve got him” <br>– Bill Russell</p>
            </div>
        </div>

    </div>
    <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; MMXX <i>Project 2 - Group 3 <br>Bryan Kariuki, JoTing
                    Wong, Jack Cook, Joseph Hnat, Matthew Skinner</i> </p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

</body>

</html>