<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pay to Win?</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/small-business.css') }}" rel="stylesheet">

    <!-- import plugin script -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js'></script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Project 2 - Group 3</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="vis1.html">Pay to Win?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="vis2.html">Putting Butts in Seats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="vis3.html">Mr. Popular?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="vis4.html">Youth vs Experience</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="ppt.html">Slides</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
        <div class="row align-items-center my-5">
            <div class="col-lg-7">
                <!-- bar chart canvas element -->
                <canvas id="myChart" </canvas>
                    <script>
                        // Global parameters:
                        // do not resize the chart canvas when its container does (keep at 600x400px)
                        Chart.defaults.global.responsive = true;

                        // define the chart data
                        var chartData = {
                            labels: [{% for item in labels %}
                        "{{item}}",
                            {% endfor %}],
                        datasets: [{
                            label: 'NBA 2016 Stats: Comparing Salary Vs. PPG',
                            fill: true,
                            lineTension: 0.1,
                            backgroundColor: "rgba(0, 0, 255, 0.4)",
                            borderColor: "rgba(0, 0, 0, 1)",
                            borderCapStyle: 'butt',
                            borderDash: [],
                            borderDashOffset: 0.0,
                            borderJoinStyle: 'miter',
                            pointBorderColor: "rgba(255, 0, 0, 0.4)",
                            pointBackgroundColor: "#fff",
                            pointBorderWidth: 1,
                            pointHoverRadius: 5,
                            pointHoverBackgroundColor: "rgba(79, 79, 79, 0.4)",
                            pointHoverBorderColor: "rgba(79, 79, 79, 1)",
                            pointHoverBorderWidth: 2,
                            pointRadius: 1,
                            pointHitRadius: 10,
                            data: [{% for item in values %}
                                    {{ item }},
                        {% endfor %}],
                            spanGaps: false
                      }]
                    }

                        // get chart canvas
                        var ctx = document.getElementById("myChart").getContext("2d");

                        // create the chart using the chart canvas
                        var myChart = new Chart(ctx, {
                            type: 'line',
                            data: chartData,
                        });
                    </script>
            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-5">
                <h1 class="font-weight-light">Pay to Win?</h1>
                <p>This data set is comprised of exactly 341 individual player records for the 2016-2017 NBA Season. The
                    visual provided compares the average points per game each player recorded that season versus the
                    player salaries (in millions). As you can see there is a clear and positive correlation between
                    player performance and their annual salaries. Players like LeBron James, James Harden and Russel
                    Westbrook were statistical fits. While players like Isaiah Thomas and Tristian Thompson were
                    statistical outliers.</p>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <!-- Call to Action Well -->
        <div class="card text-white bg-secondary my-5 py-4 text-center">
            <div class="card-body">
                <p class="text-white m-0">"Ask me to steal, block out, sacrifice, lead, dominate. Anything. But it's not
                    what you ask of me, it's what I ask of MYSELF"<br>― LeBron James</p>
            </div>
        </div>

    </div>
    <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; MMXX <i>Project 2 - Group 3 <br>Bryan Kariuki, JoTing
                    Wong, Jack Cook, Joseph Hnat, Matthew Skinner</i> </p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!--div for js scripts-->
    <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
    <script src="{{ url_for('static', filename='js/vis1.js') }}"></script>

</body>

</html>